body {
  background-color: #ada2a2;
  font-family: Trebuchet MS;
  color: rgb(0, 0, 0);
}

a {
  color: black;
}

#nav-base {
  height: 100vh;
}

.nav {
  font-size: 22px;
  float: left;
  padding: 20px;
  width: 0px;
}

#nav_container{
  position: fixed;
  width: 4%;
  height: 21%;
  z-index:50000000;
  background-color: #fffafa00;
}

#nav_background {
  width: 4%;
  height: 21%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f4db36;
}

.nav:link, .nav:visited {
  visibility: hidden;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#nav_container:hover~.nav {
  visibility: visible;
  width: 5%;
  color: rgb(255, 247, 247);
  transition: 0.4s;
}

#nav_container:hover ~ #nav_background {
  visibility: visible;
  width: 8%;
  color: rgb(255, 247, 247);
  transition: 0.4s;
}

#top {
  position: absolute;
  top: 1%
}

#middle {
  position: absolute;
  top: 7%
}

#bottom {
  position: fixed;
  top: 13%;
}